.team {
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contTitle {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
}

.teamCont {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.leadersCont {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}